.input-box{
    border: 2px solid rgb(224, 224, 224);
    border-radius: 5px;
    padding: 2px 10px;
    outline: none;
    width: 50%;
}
.input-label{
    font-size: 1.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    outline: none;
}
form{
    width: 60%;
    margin-bottom: 2rem;
}
@media (max-width: 902px){
    .input-label{
        flex-direction: column;
        font-size: 1rem;
    }
    .input-box{
        width: 15rem;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
}
